body {
  background: url("../img/background.svg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0;
  margin: 0;
  height: 100%;
}

.txt-raleway {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
}

a:link {
  text-decoration: none;
}

#mobile {
  display: none;
}

.laptop footer {
  background-color: #f5fffd;
}

.laptop footer h1 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #30e3ca;
}

.laptop footer p {
  margin: 0;
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;

  color: #30e3ca;
}

.laptop footer .first-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5%;
  margin-top: 5%;
  padding-top: 2.5%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.laptop footer .first-line .social-media {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.laptop footer .first-line .social-media .social-media-link {
  padding-right: 3vw;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.laptop footer .first-line .social-media .social-media-link img {
  margin-right: 5%;
}

.laptop footer .aviso {
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding-bottom: 2.5%;
}

/*---------------------- HERO ----------------------*/
.hero {
  padding-top: 3rem;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero img {
  width: 20rem;
  padding-left: 7%;
}

.hero-info {
  padding-right: 5%;
  width: 35%;
}

#playStoreButton{
  padding-top: 8%;
  padding-left: 25%;
  width: 50%;
}

.hero-info img {
  width: 80%;
  padding-left: 12.5%;
}

.hero-info h1 {
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.hero-info h3 {
  margin-top: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 40px;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.hero-cta {
  padding-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.hero-cta img {
  width: 15rem;
  margin: 0;
}

.hero-cta img:hover {
  opacity: 30%;
}

.all {
  display: block;
}

.sixplus {
  display: none;
}
