body{
    background: url("../img/background.svg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

   /*---------------------- HERO ----------------------*/
   .hero {
        padding-top: 3rem;
        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
   }
   
   .hero img {
        width: 20rem;
   }
   
   .hero-info {
        padding-right: 5%;
        width: 35%;
   }
   
   .hero-info img {
        width: 100%;
   }
   
   .hero-info h1 {
        margin-bottom: 0;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 56px;
        align-items: center;
        text-align: center;

        color: #FFFFFF;
   }
   
   .hero-info h3 {
        margin-top: 0;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 47px;
        align-items: center;
        text-align: center;

        color: #FFFFFF;
   }
   
   .hero-cta {
        padding-top: 2rem;
        width: 100%;
        display: flex;
        justify-content: space-around;
   }
   
   .hero-cta img {
        width: 15rem;
        margin: 0;
   }
   
   .hero-cta img:hover {
        opacity: 30%;
   }

   @media screen and (max-width: 992px) {

    .hero{
        margin-top: 4.5rem;
    }

    .hero-info h1 {
        font-size: 2.5rem;
    }

    .hero-info h3{
        font-size: 1.5rem;
    }
   
    .hero-info {
        width: 80vw;
        padding-right: 0%;
        padding-bottom: 60%;
    }
   
    .hero img {
        display: none;
    }
   
    .hero-info img {
        display: block;
        margin-bottom: 30%;
    }
   
    .hero-cta {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
   }
   
   .hero-cta img {
        padding-top: 1.5rem;
        width: 10rem;
        margin: 0;
        opacity: 30%;
   }
   }

   @media screen and (max-height: 650px) {
    .hero{
        padding-top: 7rem;
        margin-top: 0.5rem;
    }

    .hero-info img {
        display: block;
        margin-bottom: 0;
    }

    .hero-info h1{
        padding-top: 1rem;
        font-size: 2rem;
    }

    .hero-cta{
        padding-top: 0rem;
    }

    .hero-info h3{
        font-size: 1rem;
    }
   }